<% if user_signed_in? %>
  <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo: false} %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>

<h1>Home</h1>
